*{
    margin: 0;
    padding: 0;
}
#openMenu{
    height: 50px;
}
.nav-container{
    display: flex;
    flex-direction: column;
}
.container-menu{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    padding: 20px;
}
.nav-boton{
    color: blue;
    text-decoration: none;
    padding-left: 20px;
}